
<div>

  <nav>
    <router-link to="/">Home</router-link>
    <router-link to="/watch-list">Watch List</router-link>
  </nav>

  <h1>TV Shows Dashboard</h1>
  <input
    type="text"
    v-model="searchQuery"
    placeholder="Search for a TV show..."
    @input="handleSearch"
    class="search-bar"
  />
  <div v-if="Object.keys(showsByGenre).length">
    <div
      v-for="(shows, genre) in showsByGenre"
      :key="genre"
      class="genre-group"
    >
      <h2>{{ genre }}</h2>
      <div class="horizontal-list">
        
          <ShowCard
            v-for="show in shows"
            :key="show.id"
            :show="show"
            @click="selectShow(show.id)"

          />
      </div>
    </div>
  </div>
  <p v-else>Loading...</p>
</div>