
@use "../../styles";

.simple-nav {
  display: flex;
  align-items: center;
  gap: 2rem; 
  justify-content: flex-end;

  .nav-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: styles.$white; 
    font-weight: bold;
    transition: color 0.3s ease;

    .nav-icon {
      width: 20px;
      height: 20px;
      margin: 0;
      margin-right: 0.5rem; 
    }

    &:hover,
    &.active {
      color: styles.$bright-pink; 
    }

    &:hover{
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .simple-nav {
    gap: 1rem;
  }

  .nav-item {
    .nav-text {
      display: none; 
    }

    .nav-icon {
      margin-right: 0; 
    }
  }
}
