<div>
    <h1>Your watch list</h1>

    <p v-if="watchListShows.length === 0">
      You haven't added any shows yet. Here are some that might interest you:
    </p>

    <div v-if="watchListShows.length === 0">
      <h2>Recommended Shows</h2>
      <div class="recommended-shows">
        <ShowCard v-for="show in recommendedShows" :key="show.id" :show="show" />
      </div>
    </div>

    <div v-else>
      <div class="watch-list-shows">
        <ShowCard v-for="show in watchListShows" :key="show.id" :show="show" />
      </div>
    </div>
  </div>