
/* Colors */
$dark-blue: #0c0136;
$dark-purple: #5D0E41;
$bright-pink: #FF204E;
$accent-purple: #A0153E;
$white: #fff;
$light-grey: #f0f0f0;
$shadow-color: rgba(0, 0, 0, 0.1);

body {
  background: linear-gradient(135deg, $dark-blue, $dark-purple);
  color: $white;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}

h1, h2, p, small {
  color: $white;
}

h1{
  margin: 0;
  padding-bottom: 12px;
}

a, router-link {
  text-decoration: none;
  color: $white;

  &:hover {
    color: $bright-pink;
  }
}
p {
  margin: 0;
  line-height: 1rem;

}

button {
  background-color: $bright-pink;
  color: $white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: $accent-purple;
  }

  &:focus {
    outline: 3px solid $accent-purple;
  }
}

/* Flex Layouts */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.horizontal-list {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 16px 0;
}

/* containers */

.hero-container {
  background-color: black;
  position: sticky; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
  color: $white; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 

  .hero-container-content {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
  }

}


.body-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
}
