
/* Colors */
$dark-blue: #00224D;
$dark-purple: #5D0E41;
$bright-pink: #FF204E;
$accent-purple: #A0153E;
$white: #fff;
$light-grey: #f0f0f0;
$shadow-color: rgba(0, 0, 0, 0.1);

body {
  background: linear-gradient(135deg, $dark-blue, $dark-purple);
  color: $white;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, p, small {
  color: $white;
}

a, router-link {
  text-decoration: none;
  color: $white;

  &:hover {
    color: $bright-pink;
  }
}

button {
  background-color: $bright-pink;
  color: $white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: $accent-purple;
    transform: translateY(-3px);
  }

  &:focus {
    outline: 3px solid $accent-purple;
  }
}

/* Flex Layouts */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.horizontal-list {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 16px 0;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
}

/* Shadows and Card Hover */
.card-hover {
  box-shadow: 0 4px 12px $shadow-color;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  }
}
